In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
import operator

In [127]:
data = pd.read_csv('./data/prosperLoanData.csv')

In [128]:
# extract the year from the date field, then make a new column with the year value
data.year = np.random.randn(len(data))

def getdate(row):
    try:
        row.ListingCreationDate = datetime.strptime(row['ListingCreationDate'],'%Y-%m-%d %H:%M:%S.%f000')
    except ValueError:
        row.ListingCreationDate = datetime.strptime(row['ListingCreationDate'],'%Y-%m-%d %H:%M:%S')
    year = row.ListingCreationDate.strftime('%Y')    
    row['year'] = int(year)
    row['BorrowerState'] = str( row['BorrowerState'] )
    return row

data = data.apply(getdate, axis=1)

In [129]:
## keep only the columns i'm interested in.
## list of columns to keep 
cols = [ 'MemberKey', 'Recommendations', 'year',
        'BorrowerState', 'Occupation', 'EmploymentStatus',
       'EmploymentStatusDuration', 'IsBorrowerHomeowner',
       'IncomeRange', 'IncomeVerifiable']

old_data = data
data = data[cols]

#sort data by MemberKey , then reset the index to count from 1 .. again after sorting.
data.sort_values('MemberKey',axis=0, inplace=1)
data.reset_index(drop=1,inplace=1)

/home/bekora/Documents/programming/Nanodegree/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [130]:
#data.to_csv('./data/prosperLoanData_EDITED.csv',index=False)
#data.to_csv('./data/prosperLoanData_SAMPLE_EDITED.csv',index=False)

---------

In [52]:
newData = data.groupby('MemberKey')

In [218]:
#23,106 Duplicates,  74,423 are not.
newData = data.duplicated('MemberKey',keep=False)
len(newData[ newData == True ])
data[~newData]

,MemberKey,Recommendations,year,BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,IncomeRange,IncomeVerifiable
0,00003397697413387CAF966,1,2008,NC,Other,Self-employed,33.0,False,$0,False
1,000035297015484885C64F8,0,2011,FL,Other,Self-employed,77.0,False,"$75,000-99,999",False
2,00013423961455492C1526A,0,2008,NY,Skilled Labor,Full-time,178.0,True,"$50,000-74,999",True
3,000135288307754595F9D2F,0,2011,CA,Investor,Self-employed,157.0,False,"$50,000-74,999",False
4,00013697672720592A0D358,0,2013,NY,Nurse (RN),Employed,45.0,True,"$100,000+",True
5,000234224617902327CDB8F,0,2008,UT,Other,Full-time,22.0,True,"$50,000-74,999",True
6,00023512368393241FC30E0,0,2011,CA,Professional,Employed,6.0,False,"$100,000+",True
7,00023560572939500DCB8A0,0,2013,NY,Computer Programmer,Employed,182.0,True,"$100,000+",True
8,000336932673742487C0D70,0,2013,CA,Car Dealer,Employed,147.0,False,"$50,000-74,999",True
9,00043695776859528A2495F,0,2013,TX,Nurse (RN),Employed,52.0,False,"$75,000-99,999",True
10,000533807507582640364CD,0,2007,AL,Accountant/CPA,Full-time,70.0,False,"$25,000-49,999",True
11,000535754154222966B31E3,0,2014,VA,Food Service Management,Employed,12.0,False,"$25,000-49,999",True
12,00063381446480331D5115B,0,2007,IL,Engineer - Electrical,Full-time,297.0,True,"$100,000+",True
13,000635435814413083EACE3,0,2013,NJ,Accountant/CPA,Employed,54.0,False,"$50,000-74,999",True
14,00063700478721718A1DC44,0,2013,MO,Skilled Labor,Employed,56.0,True,"$25,000-49,999",True
15,0007338998629653405FDD0,0,2007,TX,Nurse (LPN),Full-time,78.0,True,"$25,000-49,999",True
16,000735524117406723E4DE9,0,2012,CA,Teacher,Employed,251.0,False,"$75,000-99,999",True
17,000A3536565603221E71FA5,0,2012,MD,Tradesman - Mechanic,Employed,25.0,False,"$25,000-49,999",True
18,000B3485235890531DB74A3,0,2010,NY,Professional,Full-time,34.0,False,"$50,000-74,999",True
22,000C3562664704659E67FC1,0,2012,FL,Other,Employed,19.0,False,"$25,000-49,999",True
23,000D3364744191925B20840,0,2006,FL,Civil Service,Not available,NaN,True,Not displayed,True
24,000D3475854555891279899,0,2010,TX,Food Service Management,Full-time,38.0,True,"$50,000-74,999",True
25,000E35533262890553D3AAA,0,2012,NC,Other,Employed,92.0,False,"$25,000-49,999",True
26,000E3577493871327A5394D,0,2013,CO,Construction,Employed,48.0,False,"$50,000-74,999",True
27,001034911007416607A663B,0,2010,CA,Other,Other,42.0,False,"$1-24,999",True
28,00103561547411388E90630,0,2012,CA,Administrative Assistant,Employed,0.0,False,"$25,000-49,999",False
29,0010356483845050893B702,0,2012,FL,Food Service,Employed,299.0,True,"$100,000+",True
30,00103707385748594203705,0,2014,NY,Doctor,Employed,90.0,True,"$100,000+",True
31,00113574311629669B4DB9E,0,2013,CA,Other,Self-employed,24.0,False,"$50,000-74,999",False
32,0011370687712925366D380,0,2014,TX,Computer Programmer,Employed,177.0,True,"$100,000+",True
...,...,...,...,...,...,...,...,...,...,...
113879,FFE235745100863216DA7D5,0,2013,NY,Other,Other,83.0,True,"$1-24,999",True
113880,FFE23577521291208BA9EBC,0,2013,CA,Teacher,Employed,57.0,True,"$50,000-74,999",True
113881,FFE435555769685208B46A3,0,2012,FL,Dentist,Employed,1.0,True,"$25,000-49,999",True
113884,FFE5357753755751641EBBA,0,2013,CA,Attorney,Employed,4.0,True,"$100,000+",True
113885,FFE6338626322998665A23F,0,2007,MI,Truck Driver,Full-time,216.0,True,"$50,000-74,999",True
113886,FFE63396445400105EB6E0A,1,2007,MO,Retail Management,Full-time,31.0,False,"$25,000-49,999",True
113887,FFE63537356091511C9469F,0,2012,MN,Sales - Retail,Employed,62.0,False,"$1-24,999",True
113890,FFEA3699973813492AE59C0,0,2013,NY,Civil Service,Employed,166.0,False,"$75,000-99,999",True
113891,FFEC37070173023742D2580,0,2014,PA,Engineer - Mechanical,Employed,87.0,False,"$50,000-74,999",True
113892,FFED33686061625063C9F8A,0,2006,TX,Analyst,Not available,NaN,True,Not displayed,True
113893,FFED34048927851237DCDB0,0,2007,MD,Sales - Commission,Full-time,9.0,False,"$25,000-49,999",True
113894,FFED37015271215068BB307,0,2013,GA,Teacher,Employed,52.0,True,"$25,000-49,999",True
113895,FFEE35854294897087C0324,0,2013,NY,Other,Not employed,3.0,False,Not employed,False
113901,FFEF369300586255623A40C,0,2013,KS,Other,Employed,18.0,True,"$25,000-49,999",True
113902,FFEF37049093579583EE4B0,0,2014,NC,Sales - Commission,Employed,16.0,True,"$100,000+",True
113903,FFF03365189029709AB822E,0,2007,NaN,Medical Technician,Not available,NaN,False,Not displayed,True
113907,FFF135753399890944E4A52,0,2014,AZ,Doctor,Employed,15.0,True,"$100,000+",True
113908,FFF3355649076790505B993,0,2012,WA,Civil Service,Employed,16.0,True,"$50,000-74,999",True
113909,FFF33700152692892F3E9C2,0,2013,CA,Administrative Assistant,Employed,52.0,False,"$100,000+",True
113910,FFF436993927986256BF9D8,0,2013,AR,Professional,Employed,13.0,True,"$25,000-49,999",True
113911,FFF5354507429612058EECD,0,2012,TN,Engineer - Electrical,Employed,6.0,False,"$75,000-99,999",True
113912,FFF633657849233430E7BB4,0,2006,GA,Computer Programmer,Not available,NaN,True,Not displayed,True
113917,FFF83545504539670FD8A03,0,2012,MD,Professional,Employed,105.0,False,"$75,000-99,999",True
113918,FFF835831698956324BBFE6,0,2013,WA,Professional,Employed,339.0,True,"$75,000-99,999",True
113926,FFF9369988761425816004D,0,2013,FL,Nurse's Aide,Employed,63.0,False,"$25,000-49,999",True
113927,FFFB35532659344392FF450,0,2012,WI,Sales - Commission,Employed,286.0,True,"$50,000-74,999",True
113928,FFFB3573181023089B6272C,0,2013,AL,Other,Employed,194.0,True,"$50,000-74,999",True
113929,FFFC33656143739582B0E90,0,2008,CA,Computer Programmer,Self-employed,77.0,True,$0,False
113933,FFFD3693387788778FDB6D8,0,2013,MI,Skilled Labor,Employed,172.0,True,"$50,000-74,999",True
113934,FFFE37064763028757082B0,0,2014,VA,Analyst,Employed,8.0,True,"$100,000+",True

----

### MAKE A DICTIONARY FOR  BORROWER STATES.

In [3]:
data = pd.read_csv('./data/prosperLoanData_EDITED.csv')

In [4]:
states = {}
for state in data.BorrowerState :
    if str(state) in states.keys() :
        states[str(state)] +=1
    else :
        states[str(state)] = 1
#print the states sorted.        
sorted(states.items(), key=operator.itemgetter(1),reverse=True)

[('CA', 14717),
 ('TX', 6842),
 ('NY', 6729),
 ('FL', 6720),
 ('IL', 5921),
 ('nan', 5515),
 ('GA', 5008),
 ('OH', 4197),
 ('MI', 3593),
 ('VA', 3278),
 ('NJ', 3097),
 ('NC', 3084),
 ('WA', 3048),
 ('PA', 2972),
 ('MD', 2821),
 ('MO', 2615),
 ('MN', 2318),
 ('MA', 2242),
 ('CO', 2210),
 ('IN', 2078),
 ('AZ', 1901),
 ('WI', 1842),
 ('OR', 1817),
 ('TN', 1737),
 ('AL', 1679),
 ('CT', 1627),
 ('SC', 1122),
 ('NV', 1090),
 ('KS', 1062),
 ('KY', 983),
 ('OK', 971),
 ('LA', 954),
 ('UT', 877),
 ('AR', 855),
 ('MS', 787),
 ('NE', 674),
 ('ID', 599),
 ('NH', 551),
 ('NM', 472),
 ('RI', 435),
 ('HI', 409),
 ('WV', 391),
 ('DC', 382),
 ('MT', 330),
 ('DE', 300),
 ('VT', 207),
 ('AK', 200),
 ('SD', 189),
 ('IA', 186),
 ('WY', 150),
 ('ME', 101),
 ('ND', 52)]

In [5]:
# read states names, this includes statename All in capital, state name first litter is capital,
# and 2 letters representing the state
# As  [state1,state2,short]
states_names = pd.read_csv('./data/map/us_states_names.csv')

In [6]:
# make a new dictionary, similar to states{} but instead of the 2 letters, it will have the whole state name.
new_states = {}
for state in states.keys() :
    for state_short,state_long in zip(states_names.short,states_names.name2) :
        if state == state_short :
            new_states[state_long] = states[state]
            break   
new_states['nan'] = states['nan']       # add the nan values.     
new_states['Washington'] += states['DC']   # Washington has two short names "WA" and "DC".

In [7]:
# write the dictionary (new_states) into a csv file.
with open('data/map/borrower_states.csv', 'wb') as f :
    f.write('state,count\n')
    for item in new_states.items():
        f.write(item[0]+","+str(item[1])+'\n')

---------------

In [8]:
sorted(new_states.items(), key=operator.itemgetter(1),reverse=True)

[('California', 14717),
 ('Texas', 6842),
 ('New York', 6729),
 ('Florida', 6720),
 ('Illinois', 5921),
 ('nan', 5515),
 ('Georgia', 5008),
 ('Ohio', 4197),
 ('Michigan', 3593),
 ('Washington', 3430),
 ('Virginia', 3278),
 ('New Jersey', 3097),
 ('North Carolina', 3084),
 ('Pennsylvania', 2972),
 ('Maryland', 2821),
 ('Missouri', 2615),
 ('Minnesota', 2318),
 ('Massachusetts', 2242),
 ('Colorado', 2210),
 ('Indiana', 2078),
 ('Arizona', 1901),
 ('Wisconsin', 1842),
 ('Oregon', 1817),
 ('Tennessee', 1737),
 ('Alabama', 1679),
 ('Connecticut', 1627),
 ('South Carolina', 1122),
 ('Nevada', 1090),
 ('Kansas', 1062),
 ('Kentucky', 983),
 ('Oklahoma', 971),
 ('Louisiana', 954),
 ('Utah', 877),
 ('Arkansas', 855),
 ('Mississippi', 787),
 ('Nebraska', 674),
 ('Idaho', 599),
 ('New Hampshire', 551),
 ('New Mexico', 472),
 ('Rhode Island', 435),
 ('Hawaii', 409),
 ('West Virginia', 391),
 ('Montana', 330),
 ('Delaware', 300),
 ('Vermont', 207),
 ('Alaska', 200),
 ('South Dakota', 189),
 ('Iowa', 186),
 ('Wyoming', 150),
 ('Maine', 101),
 ('North Dakota', 52)]