In [3]:
import pandas as pd
from datetime import datetime
import numpy as np
import operator

In [127]:
data = pd.read_csv('./data/prosperLoanData.csv')

In [128]:
# extract the year from the date field, then make a new column with the year value
data.year = np.random.randn(len(data))

def getdate(row):
    try:
        row.ListingCreationDate = datetime.strptime(row['ListingCreationDate'],'%Y-%m-%d %H:%M:%S.%f000')
    except ValueError:
        row.ListingCreationDate = datetime.strptime(row['ListingCreationDate'],'%Y-%m-%d %H:%M:%S')
    year = row.ListingCreationDate.strftime('%Y')    
    row['year'] = int(year)
    row['BorrowerState'] = str( row['BorrowerState'] )
    return row

data = data.apply(getdate, axis=1)

In [129]:
## keep only the columns i'm interested in.
## list of columns to keep 
cols = [ 'MemberKey', 'Recommendations', 'year',
        'BorrowerState', 'Occupation', 'EmploymentStatus',
       'EmploymentStatusDuration', 'IsBorrowerHomeowner',
       'IncomeRange', 'IncomeVerifiable']

old_data = data
data = data[cols]

#sort data by MemberKey , then reset the index to count from 1 .. again after sorting.
data.sort_values('MemberKey',axis=0, inplace=1)
data.reset_index(drop=1,inplace=1)

/home/bekora/Documents/programming/Nanodegree/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [130]:
#data.to_csv('./data/prosperLoanData_EDITED.csv',index=False)

---------

In [52]:
newData = data.groupby('MemberKey')

In [18]:
#23,106 Duplicates,  74,423 are not. 97529 Borrower
newData = data.duplicated('MemberKey',keep=False)
len(newData[ newData == True ])
data[newData]

97529

----

### MAKE A DICTIONARY FOR  BORROWER STATES.

In [6]:
data = pd.read_csv('./data/prosperLoanData_EDITED.csv')

In [7]:
states = {}
for state in data.BorrowerState :
    if str(state) in states.keys() :
        states[str(state)] +=1
    else :
        states[str(state)] = 1
#print the states sorted.        
sorted(states.items(), key=operator.itemgetter(1),reverse=True)

[('CA', 14717),
 ('TX', 6842),
 ('NY', 6729),
 ('FL', 6720),
 ('IL', 5921),
 ('nan', 5515),
 ('GA', 5008),
 ('OH', 4197),
 ('MI', 3593),
 ('VA', 3278),
 ('NJ', 3097),
 ('NC', 3084),
 ('WA', 3048),
 ('PA', 2972),
 ('MD', 2821),
 ('MO', 2615),
 ('MN', 2318),
 ('MA', 2242),
 ('CO', 2210),
 ('IN', 2078),
 ('AZ', 1901),
 ('WI', 1842),
 ('OR', 1817),
 ('TN', 1737),
 ('AL', 1679),
 ('CT', 1627),
 ('SC', 1122),
 ('NV', 1090),
 ('KS', 1062),
 ('KY', 983),
 ('OK', 971),
 ('LA', 954),
 ('UT', 877),
 ('AR', 855),
 ('MS', 787),
 ('NE', 674),
 ('ID', 599),
 ('NH', 551),
 ('NM', 472),
 ('RI', 435),
 ('HI', 409),
 ('WV', 391),
 ('DC', 382),
 ('MT', 330),
 ('DE', 300),
 ('VT', 207),
 ('AK', 200),
 ('SD', 189),
 ('IA', 186),
 ('WY', 150),
 ('ME', 101),
 ('ND', 52)]

In [4]:
# read states names, this includes statename All in capital, state name first litter is capital,
# and 2 letters representing the state
# As  [state1,state2,short]
states_names = pd.read_csv('./data/us_states_names.csv')

In [8]:
# make a new dictionary, similar to states{} but instead of the 2 letters, it will have the whole state name.
new_states = {}
for state in states.keys() :
    for state_short,state_long in zip(states_names.short,states_names.name2) :
        if state == state_short :
            new_states[state_long] = states[state]
            break   
new_states['nan'] = states['nan']       # add the nan values.     
new_states['Washington'] += states['DC']   # Washington has two short names "WA" and "DC".       

#******************************************************************

In [16]:
# write the dictionary (new_states) into a csv file.
# but make sure to write it sorted
# Sort that dictionary by count value.
sorted_list = sorted(new_states.items(), key=operator.itemgetter(1),reverse=True)

In [ ]:

with open('data/borrower_states.csv', 'wb') as f :
    f.write('state,count\n')
    for item in sorted_list:
        f.write(item[0]+","+str(item[1])+'\n')

---------------

In [24]:
for item in sorted_list :
    print item[1] / 113937.0

0.129167873474
0.0600507297893
0.0590589536323
0.0589799626109
0.0519673152707
0.0484039425296
0.0439541149934
0.0368361462914
0.0315349710805
0.030104355916
0.0287702853331
0.0271816881259
0.0270675899839
0.0260845906071
0.0247592968044
0.0229512800934
0.0203445763887
0.0196775410973
0.0193966841325
0.0182381491526
0.016684659066
0.0161668290371
0.0159474095333
0.0152452671213
0.0147362138726
0.0142798213048
0.00984754732879
0.00956669036397
0.00932094051976
0.00862757488788
0.00852225352607
0.00837304826351
0.00769723619193
0.00750414702862
0.00690732597839
0.00591554982139
0.00525729131011
0.00483600586289
0.004142640231
0.00381789936544
0.00358970308153
0.00343172103882
0.00289633744964
0.00263303404513
0.00181679349114
0.00175535603009
0.00165881144843
0.00163248110798
0.00131651702257
0.000886454795194
0.000456392567823

---------------------

In [9]:
Sum = 0.00
for val in new_states.values() :
    Sum+=val
new_states['nan'] / Sum * 100

4.840394252964358

In [13]:
 new_states['nan'] / Sum

0.04840394252964358

In [14]:
new_states

{'Alabama': 1679,
 'Alaska': 200,
 'Arizona': 1901,
 'Arkansas': 855,
 'California': 14717,
 'Colorado': 2210,
 'Connecticut': 1627,
 'Delaware': 300,
 'Florida': 6720,
 'Georgia': 5008,
 'Hawaii': 409,
 'Idaho': 599,
 'Illinois': 5921,
 'Indiana': 2078,
 'Iowa': 186,
 'Kansas': 1062,
 'Kentucky': 983,
 'Louisiana': 954,
 'Maine': 101,
 'Maryland': 2821,
 'Massachusetts': 2242,
 'Michigan': 3593,
 'Minnesota': 2318,
 'Mississippi': 787,
 'Missouri': 2615,
 'Montana': 330,
 'Nebraska': 674,
 'Nevada': 1090,
 'New Hampshire': 551,
 'New Jersey': 3097,
 'New Mexico': 472,
 'New York': 6729,
 'North Carolina': 3084,
 'North Dakota': 52,
 'Ohio': 4197,
 'Oklahoma': 971,
 'Oregon': 1817,
 'Pennsylvania': 2972,
 'Rhode Island': 435,
 'South Carolina': 1122,
 'South Dakota': 189,
 'Tennessee': 1737,
 'Texas': 6842,
 'Utah': 877,
 'Vermont': 207,
 'Virginia': 3278,
 'Washington': 3430,
 'West Virginia': 391,
 'Wisconsin': 1842,
 'Wyoming': 150,
 'nan': 5515}

In [11]:
Sum

113937.0